.button__rep{
    background-color: #E5E5E5;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    font-family: 'Raleway', sans-serif;
    padding: .5rem 1rem;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
      
}

.button__rep:hover{
    background-color: #2A7AE4;
    color: white;
    transition: .2s ease-in-out;
}